

table{
    font-size: 22px;
    border-style: ridge;
    text-align: center;
    margin-bottom: 30px;
    width: 50%;
    height: 50%;
}
table th, table td{
    font-size: 22px;
}
table.blue tr:nth-child(even) {
background: #e0fabf;
}
table.blue tr:nth-child(odd){
    background: #ffd400;
}
table tr {
    font-size: 22px;
    height: 70px; /* Adjust the height as per your requirement */
  }
#field{
    padding-left: 50px;

}
    p {
        margin-bottom: 20px;
    }

    .issued-book {
        margin-top: 20px;
        font-weight: bold;
    }

    .issued-book p {
        margin-bottom: 5px;
    }

    .due-amount {
        margin-top: 30px;
        font-weight: bold;
    }

    @media (max-width: 768px) {
      table{
            font-size: 25px;
            text-align: center;
            width: 80%;
            height: 50%;
      }
    }
    @media (max-width: 568px) {
      table th, table tr{
            font-size: 20px;
            text-align: center;
            width: 80%;
            height: 50%;
      }
    }