
{% extends 'base.html' %}
{% block content %}
<style>
  .book-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    .book-table th,
    .book-table td {
      border: 1px solid black;
      font-size: 24px;
      padding: 8px;
      overflow: auto;
    }
  }

  .book-table th {
    background-color: #75ab88;
  }

  .book-table tr:nth-child(even) {
    background-color: #d3ffda;
  }
  .book-table tr:nth-child(odd){
    background-color: rgb(232, 255, 229);
  }

  .book-table-header {
    font-weight: bold;
  }

  .book-table-data {
    text-align: center;
  }

  .book-table-edit {
    text-align: center;
  }
  @media (max-width: 768px) {
    .book-table {
      display: block;
      overflow-x: auto;
      border-collapse: collapse;
    }
    td.book-table-data {
    font-size: small;
}
  }
  input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    /* Style the submit button */
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<div style="text-align:center;">
    <h1> Books </h1>
   <form method="post">
    {% csrf_token %}
    <input type="text" name="query" placeholder="Search Book">
    <input type="submit" value="Search">
</form>
  {% if list %}
<table class="book-table">
  <thead>
    <tr>
      <th class="book-table-header">Name</th>
      <th class="book-table-header">ISBN</th>
      <th class="book-table-header">Edition</th>
      <th class="book-table-header">Available Copies</th>
      <th class="book-table-header">Reference</th>
      <th class="book-table-header">Author</th>
      <th class="book-table-header">Available On</th>
    </tr>
  </thead>
  <tbody>
    {% if list %}
      {% for book in list %}
        <tr>
          <td class="book-table-data">{{ book.name }}</td>
          <td class="book-table-data">{{ book.isbn }}</td>
          <td class="book-table-data">{{ book.edition }}</td>
          <td class="book-table-data">{{ book.copies }}</td>
          <td class="book-table-data">{{book.reference }}</td>
          <td class="book-table-data">{{ book.author }}</td>
          {% if book.available_on %}
            <td class="book-table-data">{{ book.available_on }}</td>
          {% else %}
            <td class="book-table-data">------</td>
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="7">No books found.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% else %}
  <p>Most popular Books:</p>
{% endif %}
</div>
{% include 'footer.html' %}
{% endblock %}

