{% extends 'base.html' %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #4CAF50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>
<div style="text-align:center;">
</div>
<br>
<table> 
  <thead>
    <tr>
      <th>Name</th>
      <th>ISBN</th>
      <th>Author</th>
      <th>Edition</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {% for i in list %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.isbn}}</td>
        <td>{{i.author}}</td>
        <td>{{i.edition}}</td>
        <td>{{i.category}}</td>
        
      </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'footer.html' %}
{% endblock %}
