<style>
    .dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 160px;
  z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown content when the user hovers over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

</style>
<div class="navbar">
<div class="logo">
    <h1>CSE</h1>
</div>
{% if user.is_authenticated %}
{% if user.user_type == 1 %}

  <a href="{% url 'librarian'%}">DASHBOARD</a>
    <a href="{% url 'lib_notification' %}">Notifications</a>
    <div class="dropdown">
        <a href="{% url 'lib_book'%}">Books</a>
        <div class="dropdown-content">
            <a href="{% url 'lib_book' %}">View Books</a>
            <a href="{% url 'add_book' %}">Add Book</a>
            <a href="{% url 'add_magazine' %}">Add Magazine</a>

            <a href="{% url 'lib_mag' %}">View Magazines</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="{% url 'lib_files' %}">Resources</a>
        <div class="dropdown-content">
            <a href="{% url 'lib_files' %}">Upload File</a>
            <a href="{% url 'lib_files' %}">View Files</a>
        </div>
    </div>
  <div class = "dropdown">
      <a href="{% url 'lib_student' %}">Users</a>
      <div class="dropdown-content">
                  <a href="{% url 'lib_student' %}">View Users</a>

        <a href="{% url 'add_staff' %}">Add Staff</a>
        <a href="{% url 'add_student' %}">Add Student</a>
  </div>
      </div>
  <a href="{% url 'lib_issue' %}">Issue</a>
  <a href="{% url 'lib_return' %}">Return</a>
  <a href="{% url 'repay_due' %}">Pay amount</a>
<a href="{% url 'transaction_logs' %}">Transactions</a>

  {% elif user.user_type == 3 %}
   <a href="{% url 'home'%}">Home</a>
    <a href="{% url 'notification' %}">Notifications</a>
   <a href="{% url 'books' %}">Books</a>
   <a href="{% url 'mag' %}">Magazines</a>
   <a href="{% url 'files' %}">Resources</a>
   <a href="{% url 'student' user.id_number %}">Profile</a>
     {% if instance %}
     <a href="/rules/{{ instance.id_number }}/">Rules</a>
     {% else %}
     <a href="{% url 'rules' %}">Rules</a>
     {% endif %}
   <a href="{% url 'contact' %}">Contact Us</a>
   {% elif user.user_type == 2 %}
    <a href="{% url 'staff_dashboard' user.id_number %}">Dashboard</a>
    <a href="{% url 'notification' %}">Notifications</a>
    <a href="{% url 'books' %}">Books</a>
    <a href="{% url 'mag' %}">Magazines</a>
    <a href="{% url 'files' %}">Resources</a>
    <a href="{% url 'staff_files' user.id_number %}">Upload</a>
    <a href="{% url 'staff_about' user.id_number %}">Profile</a>
   {% endif %}
   <a href="{% url 'logout_user' %}">Logout</a>
   {% else %}
   <a href="{% url 'home'%}">Home</a>
    <a href="{% url 'notification' %}">Notifications</a>
    <a href="{% url 'books' %}">Books</a>
    <a href="{% url 'mag' %}">Magazines</a>
    <a href="{% url 'files' %}">Resources</a>
    <a href="{% url 'rules' %}">Rules</a>
    <a href="{% url 'contact' %}">Contact Us</a>
    <a href="{% url 'login_user' %}">Login</a>
    {% endif %}
</div>