{% include 'base.html' %}
{% block content %}
{% load static %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

    <style>
        .content-container {
        display: flex;
        justify-content: space-between;
    }

    /* Add styles for the form and table containers */
    .form-container, .table-container {
        width: 45%;  /* Adjust as needed */
    }
        .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
    }

    /* Form input fields */
    .form-container input[type=text], .form-container input[type=file] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 4px;
    }

    /* Form submit button */
    .form-container button[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 4px;
    }

    /* Form submit button on hover */
    .form-container button[type=submit]:hover {
        background-color: #45a049;
    }

        table {
            width: 80%;
            margin:auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        table tr td:nth-child(5),
table tr th:nth-child(5) {
    visibility: hidden;
}

/* Show the delete column when the row is hovered */
table tr:hover td:nth-child(5),
table tr:hover th:nth-child(5) {
    visibility: visible;
}
    </style>
    <h1>Files</h1>
<div class="content-container">

    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        <label>Upload the file</label>
        <input type="file" name="document">
        <label>Title</label>
        <input type="text" name="title">
        <label>Description</label>
        <input type="text" name="desp">
        <button type="submit">Upload</button>
    </form>
<div class="table-container">
    <h1>Your Files</h1>
    <br>
    <table border="0">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>File</th>
            <th>Uploaded By</th>
        </tr>
        {% for item in list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td><a href="{{ item.file }}"> View</a></td>
            <td>{{ item.from}}</td>
            <td><a href="{% url 'files_delete' item.id %}"><img src="{% static 'css/delete.gif' %}"></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
{% include 'footer.html' %}
