<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSE Library</title>
       {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'  %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">
      <link rel="stylesheet" href="{% static 'css/user.css' %}">
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
            <link rel="stylesheet" href="{% static 'css/nav.css' %}">
      <link rel="stylesheet" href="{% static 'css/user.css' %}">
     <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
  <div class="nav">
  {% include 'navbar.html' %}
  </div>
  <div class="container">
  <div id="content" class="content">
      {% block content %}
      {% endblock %}
  </div>
  </div>
  </body>
</html>