{% extends 'base.html' %}
{% block content %}
<style>
  .book-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    .book-table th,
    .book-table td {
      border: 1px solid black;
      padding: 8px;
      overflow: auto;
    }
  }
  .navbar{
       background-color: #007bff; 
    }
  .book-table th {
    background-color: #75ab88;
  }

  .book-table tr:nth-child(even) {
    background-color: #d3ffda;
  }
  .book-table tr:nth-child(odd){
    background-color: rgb(232, 255, 229);
  }

  .book-table-header {
    font-weight: bold;
  }

  .book-table-data {
    text-align: center;
  }

  .book-table-edit {
    text-align: center;
  }
  @media (max-width: 768px) {
    .book-table {
      display: block;
      overflow-x: auto;
      border-collapse: collapse;
    }
    td.book-table-data {
    font-size: small;
}
  }
</style>
<div style="text-align:center;">

<button onclick="window.location.href = '{% url 'add_book' %}';">Add Book</button>

<table class="book-table">
  <thead>
    <tr>
      <th class="book-table-header">Name</th>
      <th class="book-table-header">ISBN</th>
      <th class="book-table-header">Edition</th>
      <th class="book-table-header">Volumes</th>
      <th class="book-table-header">Reference</th>
      <th class="book-table-header">Author</th>
      <th class="book-table-header">Issue Date</th>
      <th class="book-table-header">Available On</th>
      <th class="book-table-header">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% if list %}
      {% for book in list %}
        <tr>
          <td class="book-table-data">{{ book.name }}</td>
          <td class="book-table-data">{{ book.isbn }}</td>
          <td class="book-table-data">{{ book.edition }}</td>
          <td class="book-table-data">{{ book.copies }}</td>
          <td class="book-table-data">{{book.reference }}</td>
          <td class="book-table-data">{{ book.author }}</td>
          {% if book.issue_date %}
            <td class="book-table-data">{{ book.issue_date }}</td>
            <td class="book-table-data">{{ book.available_on }}</td>
          {% else %}
            <td class="book-table-data">------</td>
            <td class="book-table-data">------</td>
          {% endif %}
          <td class="book-table-edit"><a href="{% url 'edit_book' book.id %}">Edit</a></td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="7">No books found.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
</div>
{% include 'footer.html' %}
{% endblock %}

