{% extends 'base.html' %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: #a84caf;
    color: white;
  }
</style>

<div style="text-align:center;">
  <button onclick="window.location.href = '{% url 'add_staff' %}';">Add staff</button>
</div>

<table> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Staff ID</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Fine</th>
      <th>Issued Book</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for i in list %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.staff_id}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.fine}}</td>
        {% if i.issued_book %}
        <td>{{ i.issued_book }}</td>
        {% else %}
        <td>-------</td>
        {% endif %}
        <td><a href="{% url 'edit_staff' i.id %}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'footer.html' %}
{% endblock %}
