{% extends 'base.html' %}
{% block content %}

  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
    }
    .navbar{
       background-color: #007bff; 
    }
    table {
      border-collapse: collapse;
      width: 80%;
      margin-bottom: 50px;
    }
    th, td {
      padding: 12px;
      text-align: center;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:nth-child(odd) {
      background-color: #e6e6e6;
    }
    td {
      border: 1px solid #ddd;
    }
    .edit-link {
      color: blue;
      text-decoration: underline;
    }
    .edit-link:hover {
      color: #4CAF50;
    }
  </style>
  <div class="center">
    <button onclick="window.location.href = '{% url 'add_student' %}';">Add Student</button>
  </div>
  <br>
  <div class="center">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>USN</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Fine</th>
          <th>Issued Book</th>
          <th>Return Date</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for student in list %}
          <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.usn }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.fine }}</td>
            <td>{{ student.issued_book }}</td>
            {% if student.issued_book %}
              <td>{{ student.ret_date }}</td>
            {% else %}
              <td>------</td>
            {% endif %}
            <td><a href="{% url 'edit_student' student.id %}" class="edit-link">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
{% include 'footer.html' %}
{% endblock %}
