<div class="navbar">
<div class="logo">
    <h1>CSE LIBRARY</h1>
</div>
  <a href="{% url 'home'%}">Home</a>
  <a href="{% url 'books' %}">Books</a>
  <a href="#journals">Journals</a>

    {% if instance %}
    <a href="/rules/{{ instance.id }}/">Rules</a>
    {% else %}
    <a href="{% url 'rules' %}">Rules</a>
    {% endif %}
  <a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'login_user' %}">Login</a>
    <a href="{% url 'logout_user' %}">Logout</a>
   {% if user.is_authenticated %}
<a href="{% url 'createuser' %}">Register</a>
{% endif %}
</div>