{% extends 'base.html' %}
{% block content %}

    {% for message in messages %}

    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>

{% endfor %}
<p>USN: {{ usn }}</p>
<p>EMAIL: {{ email }}</p>
    {% if issued is not NoneType%}
    <p>Issued Book: {{ issued.name }}</p>
        <p>ISBN: {{ issued.isbn }}</p>
        <p>Issue date: {{ issued.issue_date }}</p>
        <p>Return date: {{ issued.ret_date }}</p>
    {% else %}
    <p>Issued Book: -----</p>
    {% endif %}
    <p>Due Amount: {{ fine }}</p>
{% endblock %}